

notify:
  extends: .notify

variables:
  COMPONENT: proxy

  .build:
    only:
      - Bug/MDD-224

include:
  - project: 'MISP/helper-containers'
    ref: master
    file: '/.gitlab-ci-template.yml'
#
# For a cleaner Gitlab CI file include all subfolder which should be build:
#
  - '1.0-alpine/.gitlab-ci.yml'
  - '1.1-alpine/.gitlab-ci.yml'
  - '1.2-alpine/.gitlab-ci.yml'
  - '1.3-alpine/.gitlab-ci.yml'
  - '1.4-alpine/.gitlab-ci.yml'
  - '1.5-alpine/.gitlab-ci.yml'
  - '2.0-alpine/.gitlab-ci.yml'
