sudo: required
services: docker

env:
  global:
  # Docker Username
  - secure: "aMYHwyVryzSscNcAXMnre113ND31ILGdsUBhyxI4Ih5osYDxir6xJTHP7pWHgsRDlb0yTVeLJAOnfwrou/Zf1CwHMUMf0mBiGzv7kPgvz+fq4VHPp9yS+cMJE0zIjtqGltCka1hiYvv8Bir2XVnr9yInqWhIM2XLSvjLnpyZJ30iauLlf87dmnc1/z7+qZIWQZ1hOsjta2+y9Trdp/FduIw853mIxjb7WKc5C9ch5O3y4RkbLvcF7T8q0IDyHWzzJ5UTT0/0zApqHH7AT9haSTr4f0dcrvhmAQssjn2h4dFV0Puryu2RJd5He4xjWdhFmHM8E2j5WlIaaXw5irt+12wxqVVKawoPAtAE7qokkl7j2Dz76FTX8iGsPSCpdPDwpqf2ySdoag5cV1xbeDZoFleniBpV2jSXWCPf7CZuMIDllaAR1Uc8npUOCJ0VSZd+G5aYl0Tmltup8Jmf17KODjnB7libWEXz48AuLDRzxQPxw24sgecyTkuiaMm/WfmyUss2nEOobUHm0f7jV8OOQldRqfq4NyE/fTaiWOvanW0z2sLMuO8p0snbO+/Lx1vOs0YapkFh3SE+ypedBadcYJGrOboXAqkJEq+Oj/qZxWXH23WcpMS9OK30n4qKndvsZPG4/N4c5uiAkE0XkNnccCdVs+7jGWz7TZuGoRHUWjE="
  # Docker Password
  - secure: "nm87Bg2uXKInK43lGoCjDKO/SiUtIGu0zGGVaHEdwfFgFdgG+0IAZ3vzoozaM7jH6VD+3hoMY8C/ya/Hv6EkaAh9+Pg20jyCZDaahaO4eyJSRPOyoVSe0CzsPhXvwxiTJM7gKgS9Qc+z7GZwNii+YeHGoj50zZJwhudG6BXAVI59IzNgLtWRkkH02U5r4erP1Zm0TGxQRHE7L/C2u+pe6+j75aoTqwiDfxRJyjOdulpVmZD6RxzZv6fJqg/bRYjtFCvkVEZKPNL2GA//AGBviaTLVVp6ehZhYFinywq7gsZ6zT2eUSfrmg/zWOCXg+fd//hlxReVu25OMHEa5VqxiwF+SPk/Am1LPiC1lrQJEvqMdKi75Ql3vnUVb/MBE44roOd3IbTSEkrt7tiRegBiOQgp1gTvku1zkPXoaCt/N8Q297ZwLEJupZwpvCcDx4jasxuPQAxnoYZau7fpCG6ocDS6lnYO6H/WbR7UTdsf5qV/gDwIqMZjaF9F7l5RXfLOpv5230z4oUKpTVp9aeruA7Q66UOx7Cy7Rbkpa8SxNzCxhPRjkvDTMhxzYZZFpOynFkIaYRLmJTfwIQ+lakKdmLVatSBTTGe5H6yu3fPQOOHAteqaJHY08wwXG6hgAUx54LiqhCyyeIEjLx7xpyjTnz9BXjfBG1tkJUuC611TiQM=" 
  # Docker Hub Token
  - secure: "sdFi0tLdkDKhJyUR57RAQUve3+FZZajU7amBAQJVKQpG4ou3HyA2eAytIal1vAIW1x0klD6vu2BSyOSfLA04i5qSjX/KfmT6gQ6PDK6ZhjCAJ1rAUyZnRsCvy9DHzID27LMcHcssdbkSeqhCdLXch18OZhkk2IsvBA7gtHIAu7HKxkYvoOYEpvh4GAaaxXKyKkJHusVkJilZWbamJjICZaLTLPxwUhW3345H3yeO5ZXwxnWA+KzgR9OlFINpTst6bCTLXzBL8MgzLZasNVBPUl+xDqx403nuqbrWcqJdkpaw6ftv4h1EqJW571eE3P+Zv+FbibfKUdsXybtGWMUkJFOK0ntZf0A5du6NkQ9W4o58krv2VQtyTGXmETnhRamt5p+bKQZikKBE0JR2uN5C7X6UbqRWtd5CBc3cqSnWJJpxhzNWz6gisDBmMp07K/UanoYcPPS9UUumuSPHUJv8WVhdFv7fAxW6rrwIYSA0rqwiZrOkU9Aug5+v/goJSpAE+YtdJnoDn+nkw4r7Qv9Aul+AbF7l+9WQIUT1Y34VOIxEjpABfw6ocGOlcLhJPSdZWIYZctvevKymZ2QpMdrrtRITVhXB7yl4I2oIQwzGOUakdjuOf1hwQNGf5TcKLr4edeCYe1W6J1N2f1gmrf3Tj28HT8TfTqtS6jIL7K+5onI="
  matrix:
  - VERSION=1.0.1-alpine
  - VERSION=1.0.0-alpine
  - VERSION=1.0.0-ubuntu
  

before_install:
- make install

script:
- travis_retry make build v=${VERSION} dev=dev
- make tags

after_script:
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
# check if branch=master and the current build is no pull request, then push it to docker hub
#- [[ "$TRAVIS_BRANCH" == "master" ]] && [[ "$TRAVIS_PULL_REQUEST" == "false" ]] && make push;
- if [[ "$TRAVIS_BRANCH" == "master" ]]; then 
    if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then 
      make push;
    fi; 
  fi;

after_success:
# notify Docker Hub to make a new build
#- [[ "$TRAVIS_BRANCH" == "master" ]] && [[ "$TRAVIS_PULL_REQUEST" == "false" ]] && make notify-hub-docker-com TOKEN=$DOCKER_HUB_TOKEN
- if [[ "$TRAVIS_BRANCH" == "master" ]]; then 
    if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then 
      make notify-hub-docker-com TOKEN=$DOCKER_HUB_TOKEN
    fi; 
  fi;

# don't notify me when things fail
notifications:
  email: false